.dark {
  --md-sys-color-primary: rgb(208 200 146);
  --md-sys-color-surface-tint: rgb(208 200 146);
  --md-sys-color-on-primary: rgb(53 49 9);
  --md-sys-color-primary-container: rgb(80 75 33);
  --md-sys-color-on-primary-container: rgb(195 187 135);
  --md-sys-color-secondary: rgb(204 199 173);
  --md-sys-color-on-secondary: rgb(51 49 31);
  --md-sys-color-secondary-container: rgb(77 73 54);
  --md-sys-color-on-secondary-container: rgb(190 185 160);
  --md-sys-color-tertiary: rgb(179 206 169);
  --md-sys-color-on-tertiary: rgb(32 54 27);
  --md-sys-color-tertiary-container: rgb(57 80 51);
  --md-sys-color-on-tertiary-container: rgb(167 193 157);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(20 19 16);
  --md-sys-color-on-background: rgb(230 226 219);
  --md-sys-color-surface: rgb(20 19 16);
  --md-sys-color-on-surface: rgb(230 226 219);
  --md-sys-color-surface-variant: rgb(73 71 60);
  --md-sys-color-on-surface-variant: rgb(203 198 183);
  --md-sys-color-outline: rgb(148 145 131);
  --md-sys-color-outline-variant: rgb(73 71 60);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(230 226 219);
  --md-sys-color-inverse-on-surface: rgb(50 48 44);
  --md-sys-color-inverse-primary: rgb(101 95 51);
  --md-sys-color-primary-fixed: rgb(236 228 172);
  --md-sys-color-on-primary-fixed: rgb(31 28 0);
  --md-sys-color-primary-fixed-dim: rgb(208 200 146);
  --md-sys-color-on-primary-fixed-variant: rgb(77 72 30);
  --md-sys-color-secondary-fixed: rgb(233 227 200);
  --md-sys-color-on-secondary-fixed: rgb(30 28 11);
  --md-sys-color-secondary-fixed-dim: rgb(204 199 173);
  --md-sys-color-on-secondary-fixed-variant: rgb(74 71 52);
  --md-sys-color-tertiary-fixed: rgb(207 234 195);
  --md-sys-color-on-tertiary-fixed: rgb(11 32 8);
  --md-sys-color-tertiary-fixed-dim: rgb(179 206 169);
  --md-sys-color-on-tertiary-fixed-variant: rgb(54 77 48);
  --md-sys-color-surface-dim: rgb(20 19 16);
  --md-sys-color-surface-bright: rgb(59 57 53);
  --md-sys-color-surface-container-lowest: rgb(15 14 11);
  --md-sys-color-surface-container-low: rgb(29 28 24);
  --md-sys-color-surface-container: rgb(33 32 28);
  --md-sys-color-surface-container-high: rgb(43 42 38);
  --md-sys-color-surface-container-highest: rgb(54 53 48);
}
